* {
  font-family: "Itim", cursive;
}

.app {
  display: flex;
  height: 98vh;
  align-items: center;
  padding: 0 8rem;
  .legenda {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.row {
  display: flex;
}
.stvorec {
  height: 6vh;
  width: 6vh;
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
