* {
  font-family: "Itim", cursive;
  margin: 0px;
}
header{
  box-sizing: border-box;
  width: 100vw;
  border-bottom: 3px solid rgb(32, 32, 32);
  padding: 0.5rem 5%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.thememode {
  display: flex;
  align-items: center;
  background-color: #363a3e;
  border: 2px solid #4b5056;
  font-size: 20px;
  border-radius: 10px;
  padding: 0.1rem 1rem 0.1rem 0.2rem;
  cursor: pointer;
  img {
    display: inline-block;
    height: 3rem;
  }
}
.m_cont {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
  gap: 4rem;
  .legenda{
    height: 65px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .right_cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 1rem;
    .reset{
      font-size: 25px;
      padding: 0.2rem 2rem;
      background-color: #363a3e;
      border: 2px solid #4b5056;
      color: white;
      border: 2px solid #4b5056;
      font-size: 25px;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}
.row {
  display: flex;
}
.stvorec {
  height: 6vh;
  width: 6vh;
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.X {
  color: red;
  font-size: 30px;
}
.O {
  font-size: 40px;
  color: blue;
}
